$black: #222;

$light-grey: #fafafa;
$grey: #e5e5e5;
$medium-grey: #595e61;
$dark-grey-text: #424345;

$light-blue: #65abee;
$blue: #005DA1;
$dark-blue: #005599;
$very-dark-blue: #323a45;

$light-green: #1ca79c;
$dark-green: #00a19a;  // what's this here for?
$dark-green: #1ca29b;

$coral: #ed6d70;

$orange: #f7a71c;

$blue-grey: #f6f9fc;

$primary: $blue;
$accent: $coral;

$color__background-body: #fff; // not changed
$color__background-screen: #f1f1f1; // not changed
$color__background-hr: #ccc; // not changed
$color__background-button: #e6e6e6; // not changed
$color__background-pre: #eee; // not changed
$color__background-ins: #fff9c0; // not changed

$color__text-screen: #21759b; // not changed
$color__text-input: #666; // not changed
$color__text-input-focus: #111; // not changed
$color__link: #737373;
$color__link-visited: #737373;
$color__link-hover: $blue;
$color__text-main: $dark-grey-text;

$color__border-button: $grey;
$color__border-button-hover: $grey;
$color__border-button-focus: $grey;
$color__border-input: $grey;
$color__border-abbr: $grey;
