$font__main: 'Open Sans', 'Helvetica', sans-serif;
$font__headings: 'Belleza', 'Helvetica', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__size: 16px;
$font__line-height-body: 20px;
$font__line-height-pre: 1.6;
