<footer id="footer" class="padded blue grey footer section">
  <div class="ui five column doubling stackable centered grid container">
    <div class="right aligned column">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#history-section">History</a></li>
        <li><a href="/#committee-section">Committee</a></li>
        <li><a href="/#work-section">Work</a></li>
      </ul>
    </div>
    <div class="right aligned column">
      <h3>Tickets</h3>
      <ul>
        <li><a href="/#ticket-section">Ticket Details</a></li>
        <li><a href="https://mayball.trin.cam.ac.uk/apply/tickets/">Ticket Applications</a></li>
        <li><a href="/ticket-transfer/">Ticket Transfer</a></li>
        <li><a href="/ticket-faq/">Ticketing FAQ</a></li>
      </ul>
    </div>
    <div class="logo column">
      {% include logo-icon.svg %}
    </div>
    <div class="left aligned column">
      <h3>Legals</h3>
      <ul>
        <li><a href="/terms/">Terms and Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie Policy</a></li>
        <li><a href="#">VAT No: 0123456</a></li>
      </ul>
    </div>
    <div class="left aligned column">
      <h3>Address</h3>
      <ul>
        <li><a href="https://www.google.co.uk/maps/place/52%C2%B012'25.8%22N+0%C2%B007'05.1%22E/@52.207152,0.1172437,18z/data=!4m5!3m4!1s0x0:0x0!8m2!3d52.207152!4d0.118094">Trinity College</a></li>
        <li><a href="https://www.google.co.uk/maps/place/52%C2%B012'25.8%22N+0%C2%B007'05.1%22E/@52.207152,0.1172437,18z/data=!4m5!3m4!1s0x0:0x0!8m2!3d52.207152!4d0.118094">Cambridge</a></li>
        <li><a href="https://www.google.co.uk/maps/place/52%C2%B012'25.8%22N+0%C2%B007'05.1%22E/@52.207152,0.1172437,18z/data=!4m5!3m4!1s0x0:0x0!8m2!3d52.207152!4d0.118094">CB2 1TQ</a></li>
        <li><a href="https://www.google.co.uk/maps/place/52%C2%B012'25.8%22N+0%C2%B007'05.1%22E/@52.207152,0.1172437,18z/data=!4m5!3m4!1s0x0:0x0!8m2!3d52.207152!4d0.118094">View in Maps</a></li>
      </ul>
    </div>
  </div>
  <div class="ui grid container">
    <div class="sixteen wide column">
      <!-- TODO: padding -->
    </div>
  </div>
  <div class="ui copyright grid container">
    <div class="sixteen wide center aligned column">
      <p>&copy; Copyright 2017 Trinity May Ball Committee</p>
    </div>
  </div>
</footer>
