<div id="navigation-bar">
  <div class="ui container">
    <nav class="desktop links left menu">
      <ul>
        <li><a href="/#committee-section">Committee</a></li>
        <li><a href="/#work-section">Work</a></li>
      </ul>
    </nav>
    <div class="logo">
      <a href="/">
        <!--<img src="<?php echo get_template_directory_uri(); ?>/images/logo.png" width="165">-->
        {% include logo-icon.svg %}
        <span class="text">Trinity May Ball</span>
      </a>
    </div>
    <nav class="desktop links right menu">
      <ul>
        <li><a href="/#history-section">History</a></li>
        <li><a href="/#ticket-section">Tickets</a></li>
      </ul>
    </nav>
    <nav class="mobile toggle menu">
      <ul>
        <li><a><span>Menu Toggle</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="ui mobile container">
    <nav class="mobile vertical links menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#history-section">History</a></li>
        <li><a href="/#ticket-section">Tickets</a></li>
        <li><a href="/#poster-section">Poster</a></li>
        <li><a href="/#work-section">Work</a></li>
        <li><a href="/#committee-section">Committee</a></li>
      </ul>
    </nav>
    <p><a href="https://mayball.trin.cam.ac.uk/apply/tickets/" class="ui primary button">Apply for Tickets</a></p>
  </div>
</div>

<div class="top mobile slice"></div>
<div class="bottom mobile slice"></div>
