.image.carousel {
  position: relative;
  z-index: 3;
  height: 26vw;
  user-select: none;
  // TODO: set max size/container on carousel
  //max-width: 1400px;
  //margin: 0 auto;

  @include mobile {
    height: 52vw;
  }

  .arrow {
    width: 6vw;
    height: 26vw;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.6;
    }

    @include mobile {
      height: 52vw;
      width: 10vw;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    img, object {
      display: block;
    }
  }

  &.transitions {
    .image {
      transition: all 0.35s ease;
      will-change: transform, scale, translate3d;
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 26vw;
    width: 40vw;
    margin-left: -20vw;
    background-size: cover;
    background-color: #b5bbc0;
    background-position: center;
    text-align: center;
    transform: scale(0.6);
    opacity: 0;

    @include mobile {
      width: 80vw;
      height: 52vw;
      margin-left: -40vw;
    }

    img, object {
      width: 100%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    }

    &.hidden {
      z-index: 6;
      opacity: 0;
      transform: scale(0.6) translate3d(0, 0, 0);
      pointer-events: none;
    }

    &.active {
      z-index: 8;
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
    }

    &.left,
    &.right {
      z-index: 7;
      opacity: 1;

      @include mobile {
        opacity: 0;
      }

      &.hidden {
        opacity: 0;
        z-index: 6;
      }
    }

    &.left {
      transform: scale(0.8) translate3d(-35vw, 0, 0);

      &.hidden {
        transform: scale(0.7) translate3d(-45vw, 0, 0);
      }
    }

    &.right {
      transform: scale(0.8) translate3d(35vw, 0, 0);

      &.hidden {
        transform: scale(0.7) translate3d(45vw, 0, 0);
      }
    }
  }
}
