body {
  font-family: $font__main;
  color: $color__text-main;

  a {
    color: $color__link;
    cursor: pointer;

    &:hover {
      color: $color__link-hover;
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    color: $color__text-main;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font__headings;
    font-weight: 400;
  }

  h1 {
    font-size: 2.5rem;
  }

  .heading-subtitle {
    font-size: 16px;
  }
}
